C:\Users\bowri\square1\ChemLP\Bowman\.ipynb_checkpoints\
.ipynb_checkpoints/
_pycache_/
*geckodriver.txt
C:/Users/bowri/square1/ChemLP/Bowman/_pycache_/*
C:/Users/bowri/square1/ChemLP/Bowman/geckodriver.txt
C:\Users\bowri\square1\ChemLP\Bowman\geckodriver.txt